# Dependencies
node_modules/
frontend/node_modules
backend/vendor/

# Next.js build
frontend/.next/
frontend/out/

# Laravel generated
backend/storage/logs/*.log
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/bootstrap/cache/*.php

# Env files
.env
.env.*
!.env.example
!frontend/.env.example
!backend/.env.example

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store

# Logs
*.log
